.filter-div>h5,p,h6{
    text-transform: capitalize!important;
}
.material-filter,.color-filter,h6{
    font-weight: normal!important;
}
.material-filter>div>p{
    margin-bottom: 5px;
}
.color-filter>div>p{
    margin-bottom: 5px;
}