.footer-section{
    background-color: #1E1E1E;
    position: relative;
    bottom: 0;
    color: white;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.links,.footer-text{
    font-size: 11px;
    text-transform: capitalize;
}
.links>p{
    line-height: 2.5;
}
@media only screen and (max-width: 400px){
    .footer-section{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}